.noteContainer{
    height: 100%;
    margin-left: 40px;

    h2{
        margin-bottom: 30px;
        margin-top: 2px;
        margin-left: 3px;
        font-size: 32px;
    }

    .notes{
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        overflow-y: scroll;

        h3{
            margin-top: 30px;
            margin-left: 40px;
            padding-left: 30px;
            font-size: 53px;
            color: rgba(0, 0, 0, 0.103);
        }
    }
}

// media tags

@media only screen and (max-width: 600px) {
    .noteContainer{
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
        height: 100%;

        .notes{
            height: 90%;
            gap: 20;

            h3{
                margin-top: 30px;
                margin-left: 0px;
                padding-left: 0px;
                width: 80%;
                font-size: 30px;
            }
        }
    }
  }